<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/expList.css">
	<script defer src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
  </head>
  <style>
    body{
        background-image: url('https://www.psohub.com/hubfs/Blog%20visuals/12_Make-Time-%26-Expense-Reporting-Suck-Less_541x290.png');
        background-size: cover;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
       
    }
    form, input, label {
    color: #000 !important;
    }
  </style>
<body>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd; background:transparent;">
    <div class="navbar-header" style="float: left; padding: 8px; text-align: center; width: 100%;">
      <a class="navbar-brand" href="#" style="float:none;">
        <i class="fa-solid fa-sack-dollar"></i>
        Expense Tracker
      </a>
    </div>
  </nav>
  <br>
      <div class="container-fluid m-auto img-fluid ps-5" style="
    /* background-image: url('https://cdn1.vectorstock.com/i/1000x1000/56/85/icon-design-budgets-to-save-expenses-pay-vector-37825685.jpg'); */
      height: 100vh;
    ">
        <div class="msg"></div>
        <form class="form-inline" id="my-form" method="post">
            <div class="row">
                <div class="col-auto">
                    <label class="colFormLabelSm" for="expAmount">Amount</label>
                  <input type="number" id="expAmount" class="form-control-sm" placeholder="0" aria-label="Expense amount">
                </div>
                <div class="col-auto">
                    <label class="colFormLabelSm" for="expDescription">Description</label>
                  <input type="text" id="expDescription" class="form-control-sm" placeholder="description" aria-label="description">
                </div>
                <div class="col-auto">
                    <label class="colFormLabelSm" for="expCategory">Category</label>
                    <select class="form-control-sm" id="expCategory" name="" id="">
                        <option value="food">food</option>
                        <option value="fuel">fuel</option>
                        <option value="movie">movie</option>
                        <option value="shopping">shopping</option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" id="Button" class="btn btn-dark btn-sm">Submit</button>
                </div>
              </div>
        </form>
       <br>
  <div class="container opacity-75">

    <div class="listWrap">
    
        <ul class="expList">
        
            <li>
                <span>Amount</span>
                <span>Description</span>
                <span>Category</span>
                <span>Actions</span>
                <span></span>
            </li>
           
        </ul>

    </div>

</div>
</body>
</html>